/* PHASE 7: Online */
.online {
  position: absolute;
  display: block;
  transform: rotate(-40deg);
  color: #fff;
  box-shadow: darkgreen;
  background-color: #0c0;
  top: -10px;
  font-weight: bold;
  padding: 7px;
  /* width: 100%; */
  text-align: center;
  right: 40px;
  z-index: 0;
  left: -10px;

}