

<header class="masthead">
  
  <div class='language-nav'>
    <ul>
        <a>CSS</a> 
        <a>HTML</a>
        <a>JAVASCRIPT</a>
        <a>RUBY</a>
      </ul>
  </div>
 
 

  <img class="logo" src="assets/AA_Times_Logo.png">

 <ul class="masthead-links">
  
    <li>
     <time>Tuesday, October 18, 2016</time>
    </li> 
    <li>
      <i class="far fa-newspaper"></i>
      <button>Today’s Paper</button>
    </li>
    <li>
      <i class="fas fa-video"></i>
      <button>Video</button>
    </li>
    <li>
    <button>77°F</button>
     </li>
    <li>
    <button>AAO <strong>+100%</strong></button>
    </li>
  </ul>

</header>


